.label {
  margin-right: 5px;
  margin-bottom: 5px !important;
  display: inline-block;
}

#wrapper {
  position: relative;
}

.photo {
  width: 200px;
}

td a.btn-xs {
  margin-bottom: .5rem;
}

td input.btn-xs {
  margin-bottom: .5rem;
}

a.post_comments_link {
  color: #9e9e9e !important;
  text-decoration: underline;
}

