@mixin sport_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

ol {
  &.breadcrumb {
    background-color: #f5f5f5 !important;
    padding: .75rem 0 0;
    margin-bottom: 0;
    a {
      color: #0d47a1;
      &:hover{
        color: #6c757d;
      }
    }  
  }     
}

.flash .alert {
  margin-bottom: 0;
  a {
    color: #0d47a1;
    text-decoration: underline;
    &:hover {
      color: #4285F4;
    }
  }
}


.sport_icons {
  @include sport_icons;
	width: 140px;
	height: 140px;
  background-color: #eee;
  margin: 0 auto;

  &_border {
    @include sport_icons;
    width: 130px;
	  height: 130px;
    background-color: #fff;
  }

  &_bg {
    @include sport_icons;
    width: 126px;
	  height: 126px;
    background-color: #eee;
  }

	img {
    max-width: 140px;
    display: block;
    margin: 0 auto;
    max-width: 70%;
		opacity: 0.6;
  }	
}

@media (max-width: 991px) {
  .sport_icons {
    width: 100px;
    height: 100px;
    &_border {
      width: 92px;
      height: 92px;
    }
    &_bg {
      width: 88px;
      height: 88px;
    }
  }
}

@media (max-width: 767px) {
  .sport_icons {
    width: 80px;
    height: 80px;
    &_border {
      width: 74px;
      height: 74px;
    }
    &_bg {
      width: 70px;
      height: 70px;
    }
  }
}