ol{
  &.breadcrumb {
    background-color: #f5f5f5 !important;
    padding: .75rem 0 0;
    margin-bottom: 0;
    a {
      color: #0d47a1;
      &:hover{
        color: #6c757d;
      }
    }  
  }     
}

.flash .alert {
  margin-bottom: 0;
  a {
    color: #0d47a1;
    text-decoration: underline;
    &:hover {
      color: #4285F4;
    }
  }
}


.sport_icons {
  display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 140px;
	border-radius: 50%;
  background-color: #eee;
  // background-color: rgba(192, 192, 192, .3);
  margin: 0 auto;
	img {
    max-width: 140px;
    display: block;
    margin: 0 auto;
    max-width: 70%;
		opacity: 0.6;
  }	
}

@media (max-width: 991px) {
  .sport_icons {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .sport_icons {
    width: 80px;
    height: 80px;
  }
}