@mixin sport_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

ol {
  &.breadcrumb {
    background-color: #f5f5f5 !important;
    padding: .75rem 0 0;
    margin-bottom: 0;
    a {
      color: #0d47a1;
      &:hover{
        color: #6c757d;
      }
    }  
  }     
}

.flash .alert {
  margin-bottom: 0;
  a {
    color: #0d47a1;
    text-decoration: underline;
    &:hover {
      color: #4285F4;
    }
  }
}

.policy {
  font-size: .8rem;
}


.sport_icons {
  @include sport_icons;
	width: 130px;
	height: 130px;
  background-color: #eee;
  margin: 0 auto;

  &_border {
    @include sport_icons;
    width: 120px;
	  height: 120px;
    background-color: #fff;
  }

  &_bg {
    @include sport_icons;
    width: 116px;
	  height: 116px;
    background-color: #eee;
  }

	img {
    max-width: 70%;
  }	
}

.checkbox__policy {
  margin-top: 0.2rem;
}



@media (max-width: 991px) {
  .sport_icons {
    width: 90px;
    height: 90px;
    &_border {
      width: 82px;
      height: 82px;
    }
    &_bg {
      width: 78px;
      height: 78px;
    }
  }
}

@media (max-width: 767px) {
  .sport_icons {
    width: 60px;
    height: 60px;
    &_border {
      width: 52px;
      height: 52px;
    }
    &_bg {
      width: 46px;
      height: 46px;
    }
  }

  .footer-menu {
    font-size: 1rem;
  }
}